In [1]:
import pandas as pd
from mlxtend.frequent_patterns import apriori
import json
from pandas.io.json import json_normalize
from mlxtend.frequent_patterns import association_rules

In [2]:
data = json.load(open('2017-12.json'))

In [3]:
rawDf = json_normalize(data['games'])
rawDf.head()

,added,card_history,coin,duration,hero,hero_deck,id,legend,mode,note,opponent,opponent_deck,rank,region,result,user_hash
0,2017-12-01T06:33:28Z,"[{'player': 'me', 'turn': 1, 'card': {'id': 'U...",False,521.0,Mage,Burn,97911097,None,casual,None,Paladin,Midrange,NaN,Americas,win,66FFB43E8DB8910A32FB03BD640103F6
1,2017-12-01T06:24:33Z,"[{'player': 'opponent', 'turn': 1, 'card': {'i...",False,666.0,Priest,None,97910783,None,casual,None,Shaman,None,NaN,Americas,loss,66FFB43E8DB8910A32FB03BD640103F6
2,2017-12-01T06:13:14Z,"[{'player': 'me', 'turn': 1, 'card': {'id': 'C...",False,585.0,Priest,None,97910404,None,casual,None,Mage,Secret,NaN,Americas,loss,66FFB43E8DB8910A32FB03BD640103F6
3,2017-12-01T02:23:44Z,"[{'player': 'opponent', 'turn': 1, 'card': {'i...",True,456.0,Priest,None,97901928,None,casual,None,Warrior,Taunt,NaN,Americas,loss,66FFB43E8DB8910A32FB03BD640103F6
4,2017-12-01T02:15:59Z,"[{'player': 'opponent', 'turn': 1, 'card': {'i...",False,729.0,Priest,None,97901622,None,casual,None,Druid,None,NaN,Americas,loss,66FFB43E8DB8910A32FB03BD640103F6

In [4]:
opponentCards = []
meCards = []
for game in rawDf['card_history']:
    meCardsPlayed = {}
    opponentCardsPlayed = {}
    dictSelect = {'me':meCardsPlayed, 'opponent':opponentCardsPlayed}
    for action in game:
        card = action['card']['name']
        dictionary = dictSelect[action['player']]
        dictionary[str(card)] = 1#dictionary.get(card, 0) + 1
    
    meCards.append(meCardsPlayed)
    opponentCards.append(opponentCardsPlayed)

In [5]:
meDf = pd.DataFrame(meCards)#.add_suffix('_me')
opponentDf = pd.DataFrame(opponentCards)#.add_suffix('_opponent')
df = meDf.append(opponentDf)
df = df.fillna(0).astype('int')
df.head()

,"""Little Friend""",A Light in the Darkness,Aberrant Berserker,Abominable Bowman,Abomination,Abusive Sergeant,Abyssal Enforcer,Acherus Veteran,Acidic Swamp Ooze,Acidmaw,...,Young Dragonhawk,Young Priestess,Youthful Brewmaster,Ysera,Ysera Awakens,Zarog's Crown,Zealous Initiate,Zola the Gorgon,Zombie Chow,Zoobot
0,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
1,0,0,0,0,0,0,0,0,0,0,...,0,0,0,1,0,0,0,0,0,0
2,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
3,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
4,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0

In [6]:
# remove hero powers
removeCards = ['Shapeshift', 'Steady Shot', 'Fireblast', 
               'Reinforce', 'Lesser Heal', 'Dagger Mastery', 
               'Totemic Call', 'Life Tap', 'Armor Up!', 'The Coin']
df = df.drop(removeCards, axis=1)

In [7]:
frequentSets = apriori(df, min_support=0.02, use_colnames=True)

KeyboardInterrupt:

In [ ]:
rules = association_rules(frequentSets, metric='confidence', min_threshold=0.4)
rules.shape

In [ ]:
rules.sort_values('confidence', ascending=False)

In [23]:
indices = ['' in itemSet for itemSet in rules['antecedants']]
indices = pd.Series(indices)
print(indices.sum(), 'results')
rules[indices][['antecedants', 'consequents', 'confidence']].sort_values('confidence', ascending=False)

0 results

Empty DataFrame
Columns: [antecedants, consequents, confidence]
Index: []